<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="navbar-item" >
            <a routerLink="ListarUsu" routerLinkActive="active" class="nav-link">Lista_EDWIN</a>
        </li>
        <li class="navbar-item">
            <a routerLink="guardar" routerLinkActive="active" class="nav-link">Registrar Usuarios_EDWIN</a>
        </li>
        <li class="navbar-item">
            <a routerLink="ListarVen" routerLinkActive="active" class="nav-link">Lista Vendedores_CARLOS</a>
        </li>
        <li class="navbar-item">
            <a routerLink="guardar" routerLinkActive="active" class="nav-link">Registrar Vendedores_CARLOS</a>
        </li>
        <li class="navbar-item">
            <a routerLink="ListarPro" routerLinkActive="active" class="nav-link">Lista Proveedores_ERICK</a>
        </li>
        <li class="navbar-item">
            <a routerLink="guardar" routerLinkActive="active" class="nav-link">Registrar Proveedores_ERICK</a>
        </li>

        <li class="navbar-item">
            <a routerLink="ListarAba" routerLinkActive="active" class="nav-link">Lista Abarrotes_FRANCO</a>
        </li>
        <li class="navbar-item">
            <a routerLink="guardar" routerLinkActive="active" class="nav-link">Registrar Abarrotes_FRANCO</a>
        </li>

        
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
