<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <ul class="navbar-nav">
        <li class="navbar-item" >
            <a routerLink="ListarUsu" routerLinkActive="active" class="nav-link">Lista Usuarios</a>
        </li>
        <li class="navbar-item">
            <a routerLink="guardar" routerLinkActive="active" class="nav-link">Registrar Usuarios</a>
        </li>
        <li class="navbar-item">
            <a routerLink="ListarVen" routerLinkActive="active" class="nav-link">Lista Vendedores</a>
        </li>
        <li class="navbar-item">
            <a routerLink="guardar" routerLinkActive="active" class="nav-link">Registrar Vendedores</a>
        </li>
        <li class="navbar-item">
            <a routerLink="ListarPro" routerLinkActive="active" class="nav-link">Lista Proveedores</a>
        </li>
        <li class="navbar-item">
            <a routerLink="guardar" routerLinkActive="active" class="nav-link">Registrar Proveedores</a>
        </li>

        <li class="navbar-item">
            <a routerLink="ListarAba" routerLinkActive="active" class="nav-link">Lista Abarrotes</a>
        </li>
        <li class="navbar-item">
            <a routerLink="guardar" routerLinkActive="active" class="nav-link">Registrar Abarrotes</a>
        </li>

        
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>
